/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/***************
COLOR VARIABLES
***************/
/***************
CONSISTENT SETTINGS
***************/
/***************
TYPE SETTINGS
***************/
/***************
A MORE MODERN SCALE
http://typecast.com/blog/a-more-modern-scale-for-web-typography
***************/
body {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.45;
  /* equivalent to 20px */ }
  body .intro {
    font-size: 1.25em;
    line-height: 1.7; }

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: .5rem 0 1.5rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.25; }

@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.5em;
    line-height: 1.125; } }

@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 3em;
    line-height: 1.05; } }

h2, .h2 {
  font-size: 1.625em;
  line-height: 1.15384615; }

@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 2em;
    line-height: 1.25; } }

@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 2.25em;
    line-height: 1.25; } }

h3, .h3 {
  font-size: 1.375em;
  line-height: 1.13636364; }

@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.5em;
    line-height: 1.25; } }

@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.75em;
    line-height: 1.25; } }

h4, .h4 {
  font-size: 1.125em;
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.22222222; } }

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
  padding: 0; }

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333; } }

/***************
TRANSITION
***************/
/* @include transition(all 0.2s ease-in-out); */
/***************
BOX SIZING
***************/
/* @include box-sizing(border-box); */
/***************
CLEAR AFTER FLOATS
***************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

/***************
BUTTON DEFAULTS
***************/
.button, .button-secondary, .button-tertiary, .button__outline {
  background-color: seagreen;
  display: inline-block;
  position: relative;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  padding: .5em 1.5em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: .5em;
  transition: background-color 0.14s ease-in-out; }
  .button:hover, .button-secondary:hover, .button-tertiary:hover, .button__outline:hover, .button:focus, .button-secondary:focus, .button-tertiary:focus, .button__outline:focus {
    color: #fff;
    text-decoration: none;
    background-color: #21653f; }
  .button:active, .button-secondary:active, .button-tertiary:active, .button__outline:active {
    top: 1px; }

.button-secondary {
  background-color: #233E5B; }
  .button-secondary:hover {
    background-color: #152536; }

.button-tertiary {
  background-color: #aaa; }
  .button-tertiary:hover {
    background-color: #919191; }

.button__outline {
  background-color: transparent;
  border: 3px solid seagreen;
  color: seagreen; }
  .button__outline:hover {
    background-color: seagreen;
    color: #fff; }

/***************
FORM STYLING
***************/
label {
  display: block;
  margin-bottom: 5px; }

input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
  background: #e6e6e6;
  padding: 5px;
  outline: none;
  border: none;
  height: 44px;
  width: 300px;
  margin-bottom: .5rem; }
  input[type=text]:focus, input[type=email]:focus, input[type=phone]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus {
    border: 1px solid seagreen; }
  input[type=text].full-width, input[type=email].full-width, input[type=phone].full-width, input[type=password].full-width, input[type=number].full-width, input[type=search].full-width, textarea.full-width {
    width: 100%; }

textarea {
  height: 132px; }

form {
  margin-bottom: 40px; }
  form .field {
    margin-bottom: 20px; }
  form .note {
    margin-top: 5px;
    color: #aaa; }
  form .req {
    font-style: italic; }
  form .error .reason {
    margin-top: 5px;
    color: #FF4136; }
  form .error input[type=text], form .error input[type=email], form .error input[type=phone], form .error input[type=password], form .error input[type=number], form .error input[type=search], form .error textarea {
    border-color: #FF4136; }

/***************
TABLE STYLES
***************/
table {
  width: 100%;
  border: 1px solid #d0d0d0;
  margin-bottom: 1.5em; }
  table caption {
    margin: 0 0 7px;
    font-size: 0.75em;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px; }

tr {
  border-bottom: 1px solid #d0d0d0; }
  tr:nth-child(even) {
    background-color: #f7f7f7; }

td {
  padding: 7px;
  border-right: 1px solid #d0d0d0; }
  td:last-child {
    border-right: 0; }

th {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0; }
  th:last-child {
    border-right: 0; }

/***************
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
***************/
.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  /* horizontal scrolling */
  border-radius: 3px;
  padding: 20px;
  background: #343642;
  color: #C1C2C3; }

.highlight .hll {
  background-color: #ffc; }

.highlight .gd {
  color: #2e3436;
  background-color: #0e1416; }

.highlight .gr {
  color: #eeeeec;
  background-color: #c00; }

.highlight .gi {
  color: #babdb6;
  background-color: #1f2b2d; }

.highlight .go {
  color: #2c3032;
  background-color: #2c3032; }

.highlight .kt {
  color: #e3e7df; }

.highlight .ni {
  color: #888a85; }

.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #8D9684; }

.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .p, .highlight .ge,
.highlight .gp, .highlight .gs, .highlight .gt, .highlight .ld, .highlight .s, .highlight .nc, .highlight .nd,
.highlight .ne, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .py, .highlight .ow, .highlight .w, .highlight .sb,
.highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr,
.highlight .s1, .highlight .ss, .highlight .bp {
  color: #C1C2C3; }

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr,
.highlight .nt {
  color: #729fcf; }

.highlight .cp, .highlight .gh, .highlight .gu, .highlight .na, .highlight .nf {
  color: #E9A94B; }

.highlight .m, .highlight .nb, .highlight .no, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo,
.highlight .il {
  color: #8ae234; }

.highlight .o {
  color: #989DAA; }

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #fff; }

/***************
GLOBAL STYLES
***************/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "PT Serif", Georgia, Times, serif;
  line-height: 1.75;
  font-size: 100%;
  color: #000;
  overflow-x: hidden;
  margin: 0; }
  body p, body ul {
    margin: 0 0 2rem; }

::-moz-selection {
  background: seagreen;
  color: white; }

::selection {
  background: seagreen;
  color: white; }

img, video, audio, iframe, object {
  max-width: 100%; }

.container {
  max-width: 610px;
  padding: 0 20px; }

/***************
LINK STYLING
***************/
a {
  color: seagreen; }
  a:hover {
    color: #1b5233; }

/***************
MENU STYLING
***************/
.nav-collapse {
  z-index: 1; }
  .nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none; }
    .nav-collapse ul li {
      width: 100%;
      display: block;
      background: seagreen;
      border-bottom: 2px solid #349e63; }
      .nav-collapse ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 5px 2rem; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
  width: 100%; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  line-height: 2em;
  margin-top: .5em;
  background-color: seagreen;
  border-radius: 4px;
  padding: 0 .5em;
  color: white;
  text-decoration: none;
  position: relative;
  right: 2rem;
  transition: all 0.2s ease-in-out; }
  .nav-toggle:hover {
    color: white;
    background-color: #21653f; }

/***************
LIST STYLING
***************/
.noList {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 1.5rem; }

.post ul ul,
.post ul ol,
.post ol ul,
.post ol ol {
  margin: 0; }

/***************
PAGE STYLES
***************/
.pageTitle {
  margin: 2rem auto 1em;
  text-align: center; }

.content {
  padding-top: 1em;
  overflow: hidden; }

/***************
HEADER STYLING
***************/
.header {
  background-color: seagreen;
  background-image: url("../assets/img/banniere-Pierre-Lacour.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 0;
  height: 3em; }
  .header .container {
    padding: 0;
    max-width: 100%; }
  .header h1 {
    margin: 0;
    float: left;
    padding-left: 2rem;
    font-size: 1em;
    line-height: 3em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase; }
    .header h1 a {
      color: black;
      text-decoration: none;
      font-weight: bolder; }

/***************
POST STYLING
***************/
.post .postTitle {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.post blockquote {
  clear: both;
  margin: 2.5em 0;
  padding: 0;
  line-height: 1.8;
  position: relative; }
  .post blockquote:before {
    content: "";
    position: absolute;
    top: -1.25em;
    background: seagreen;
    display: block;
    height: 2px;
    width: 150px;
    left: calc(50% - 75px); }
  .post blockquote:after {
    content: "";
    position: absolute;
    bottom: -1.25em;
    background: seagreen;
    display: block;
    height: 2px;
    width: 150px;
    left: calc(50% - 75px); }

.post .meta {
  text-align: center;
  color: gray;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300; }

.post figure {
  margin: 3rem 0; }
  .post figure figcaption {
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: #5e5e5e; }
  .post figure img {
    margin: 0 auto;
    display: block; }

.post img {
  margin-bottom: 2rem; }

.post .highlight {
  clear: both;
  margin-bottom: 2rem; }

.post .dropcap {
  color: seagreen;
  margin-right: .45rem; }

.post .featuredImage {
  position: relative;
  margin-top: 2rem; }
  .post .featuredImage img {
    margin-bottom: 0; }

/***************
POST NAV STYLING
***************/
.postNav {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden; }
  .postNav .prev, .postNav .next {
    display: block;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    position: relative;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center; }
    .postNav .prev img, .postNav .next img {
      z-index: 1;
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: auto; }
    .postNav .prev span, .postNav .next span {
      z-index: 10;
      position: relative;
      padding: .5rem;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      line-height: 1.4; }
    .postNav .prev.image, .postNav .next.image {
      text-decoration: none;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
      padding: 0 .5rem;
      position: relative;
      transition: all 0.2s ease-in-out; }
    .postNav .prev:hover.image, .postNav .next:hover.image {
      opacity: .8; }
  .postNav .prev span {
    left: 0; }
  .postNav .next span {
    right: 0; }

/***************
FOOTER STYLING
***************/
.footer {
  text-align: center;
  padding: 2rem 0; }
  .footer .container {
    border-top: 4px solid #d9d9d9;
    padding-top: .5em;
    max-width: 90%; }
  .footer .copy, .footer .footer-links {
    font-size: .8em; }
  .footer .copy {
    margin-bottom: 1rem; }
  .footer-links ul {
    text-align: center; }
    .footer-links ul li {
      display: inline-block; }
      .footer-links ul li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        transition: all 0.2s ease-in-out; }
        .footer-links ul li a svg {
          display: block;
          width: 100%;
          height: 100%; }
          .footer-links ul li a svg .outer-shape {
            fill: seagreen; }
          .footer-links ul li a svg .inner-shape {
            fill: white; }
      .footer-links ul li:hover a svg .outer-shape {
        fill: #21653f; }

/***************
PAGINATION STYLING
***************/
.pagination .next {
  float: left; }

.pagination .previous {
  float: right; }

/***************
POST LIST STYLING
***************/
.posts li {
  margin-bottom: 4rem;
  position: relative; }
  .posts li:before {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    background: #e6e6e6;
    height: 2px;
    width: 60px; }
  .posts li a {
    text-decoration: none; }
    .posts li a:hover {
      text-decoration: underline; }
  .posts li .date {
    color: gray;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: .8em; }
  .posts li h3 {
    margin: 0 0 .5em; }

@media only screen and (min-width: 800px) {
  /***************
GLOBAL STYLES
***************/
  .content {
    padding-top: 0;
    position: relative;
    z-index: 1; }
    .content:after {
      z-index: -1;
      background: white;
      content: "";
      display: block;
      width: 100%;
      height: 10em;
      position: absolute;
      top: -2em;
      left: 0;
      -webkit-transform: skewY(-2deg);
      transform: skewY(-2deg);
      -webkit-transform-origin: bottom left;
      transform-origin: bottom left; }
  .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden; }
  /***************
HOMEPAGE STYLING
***************/
  #home .posts, #home .pageTitle, #home .pagination {
    width: 75%;
    float: none;
    margin: 0 auto 1.5em; }
  #home .pageTitle {
    margin: 2rem auto 1em; }
  /***************
HEADER STYLING
***************/
  .header {
    height: 15em;
    position: relative;
    padding-bottom: 2em; }
    .header .container {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 800px; }
    .header h1 {
      font-size: 3em;
      line-height: 1;
      letter-spacing: -3px;
      padding-left: 0; }
    .header nav {
      float: left;
      clear: left; }
      .header nav ul {
        margin: 0; }
        .header nav ul li {
          display: inline;
          line-height: 3em;
          background: none;
          padding: 0 5px;
          border: none; }
          .header nav ul li a {
            color: black;
            font-size: .9em;
            font-weight: bold;
            text-decoration: none;
            padding: 0 .25em; }
            .header nav ul li a:hover {
              color: #cccccc; }
          .header nav ul li.current {
            padding-bottom: .25em;
            border-bottom: 4px solid rgba(255, 255, 255, 0.4); }
  /***************
MENU STYLING
***************/
  .js .nav-collapse {
    position: relative;
    max-height: none; }
    .js .nav-collapse.closed {
      max-height: none; }
    .js .nav-collapse ul li a {
      display: inline-block; }
  .nav-toggle {
    display: none; }
  /***************
POST STYLING
***************/
  .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post p, .post ul, .post ol, .post dl, .post .pageTitle {
    width: 75%;
    float: none;
    margin: 0 auto 2rem; }
  .post h1, .post .h1, .post h2, .post .h2, .post h3, .post .h3, .post h4, .post .h4, .post h5, .post .h5, .post h6, .post .h6 {
    margin: 1rem auto; }
  .post .pageTitle {
    margin: 2rem auto 1em; }
  .post .featuredImage {
    position: relative;
    margin-top: 2rem; }
    .post .featuredImage:before {
      background: white;
      content: "";
      display: block;
      width: 100%;
      height: 4em;
      position: absolute;
      top: -2em;
      left: 0;
      -webkit-transform: skewY(-2deg);
      transform: skewY(-2deg);
      -webkit-transform-origin: bottom left;
      transform-origin: bottom left; }
  /***************
POST NAV STYLING
***************/
  .postNav .prev, .postNav .next {
    width: 50%; }
  .postNav .prev {
    float: left;
    text-align: left; }
  .postNav .next {
    text-align: right;
    float: right; }
  /***************
FOOTER STYLES
***************/
  .footer-links {
    float: right; }
  .footer .copy {
    float: left; }
  .footer .container {
    padding: 1rem 0;
    max-width: 800px; }
  /***************
CONTACT PAGE STYLING
***************/
  .contactContent {
    max-width: 48%;
    margin-right: 2%;
    float: left; }
  #contact form {
    max-width: 48%;
    width: 48%;
    float: right;
    margin-right: 0; } }

.share-page {
  text-align: center;
  background: transparent;
  color: seagreen;;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 1.5em 0;

  a {
      font-weight: 700;
      color: #fff;
      margin-left: 10px;

      &:hover {
          border-bottom: 1px dashed #fff;
      }
  }
}

  
